@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

* {
  font-family: "Sen", sans-serif;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  z-index: 300;
}

.middle {
  padding-top: 5px;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topleft {
  display: flex;
  flex: 1;
  padding-top: 20px;
}

.topright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-top: 20px;
}

.logo {
  border-radius: 100px;
  width: 70px;
  height: 70px;
}

.hamburger {
  display: none;
}

.user {
  margin: 10px;
  width: 20px;
  height: 20px;
}

.nav {
  z-index: 1;
  list-style: none;
  text-align: center;
  padding-inline-start: 0px;
}

.nav li {
  display: inline;
}

.nav a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  display: inline-block;
  padding: 5px;
}

.footer-container {
  background-color: #1f201c;
  border-top: 1px solid black;
  width: 100%;
}

.footer-logo {
  margin-top: 1%;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.footer-menu {
  width: 20%;
  margin: auto;
  display: inline;
  position: relative;
  text-align: center;
}

.footer-menu a {
  text-decoration: none;
  color: white;
  margin: 10%;
}

.footer-menu p {
  color: white;
  font-weight: bold;
}

.footer-menu ul {
  padding: 0;
  list-style: none;
}

.footer-menu:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.copy {
  background-color: #1f201c;
  color: white;
  display: flex;
  justify-content: center;
}

.title {
  font-size: 23px;
  display: flex;
  justify-content: center;
}

.cart-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.item {
  display: flex;
  flex-direction: row;
  margin: 10px;
  box-shadow: 0px 0px 10px -4px rgba(77, 77, 77, 0.384);
}

.item-image a img {
  width: 200px;
}

.item-info {
  margin: 10px;
  width: 300px;
}

.item-info h6 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
}

.bolded {
  font-weight: bold;
}

.rmv {
  display: flex;
  justify-content: flex-end;
}

.rmv a img {
  width: 25px;
}

.checkout {
  width: 300px;
  max-height: 300px;
  box-shadow: 0px 0px 10px -4px rgba(77, 77, 77, 0.384);
  padding: 20px;
}

.checkout h6 {
  font-weight: lighter;
  text-align: center;
  font-size: 20px;
  margin: 5px;
}

.subtotal {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.shipping {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
}

.total {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #6666;
  border-bottom: 1px solid #6666;
}

.finalprice {
  font-weight: bold;
}

.acquista {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin: auto;
  margin-top: 35px;
  padding: 10px 30px;
  display: block;
  cursor: pointer;
}

.acquista:hover {
  background-color: black;
  color: white;
  transition: 0.3s background-color ease-in-out;
}

.paypal {
  border: 0;
  margin: auto;
  margin-top: 10px;
  display: block;
  cursor: pointer;
  padding: 0px 25px;
}

.paypal img {
  width: 80px;
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.discount {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 10px -4px rgba(77, 77, 77, 0.384);
  padding: 10px;
}

.discount-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.discount-header img {
  padding: 10px;
  width: 20px;
}

.discount-header button {
  border: none;
  background: none;
  cursor: pointer;
}

.discount input {
  border: 1px solid grey;
  padding: 0 15px;
  width: 90%;
  height: 50px;
  margin: auto;
  font-size: 15px;
}
/* inizio css chiuso */
.discount input {
  display: none;
}

.discount img {
  transform: rotate(180deg);
}
/* fine chiuso */

@media screen and (max-width: 1000px) {
  .item {
    width: 400px;
    margin: auto;
  }

  .products {
    margin: auto;
    gap: 30px;
  }
}

@media screen and (max-width: 800px) {
  .cart-container {
    flex-direction: column-reverse;
  }

  .item {
    width: 350px;
    margin: auto;
  }

  .products {
    margin: auto;
    gap: 30px;
  }

  .checkout {
    margin: auto;
  }

  .discount {
    width: 300px;
    margin: auto;
    margin-bottom: 20px;
  }

  .container-menu {
    flex-direction: column;
  }

  .footer-menu {
    width: 100%;
  }

  .footer-menu:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  .copy {
    font-size: 12px;
  }
}
