@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

* {
  font-family: "Sen", sans-serif;
  padding: 0;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  z-index: 300;
}

.middle {
  padding-top: 5px;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger {
  display: none;
}

.topleft {
  display: flex;
  flex: 1;
  padding-top: 20px;
}

.topright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-top: 20px;
}

.logo {
  border-radius: 100px;
  width: 70px;
  height: 70px;
}

.user {
  margin: 10px;
  width: 20px;
  height: 20px;
}

.nav {
  z-index: 1;
  list-style: none;
  text-align: center;
  padding-inline-start: 0px;
}

.nav li {
  display: inline;
}

.nav a {
  color: black;
  text-decoration: none;
  font-family: "Sen", sans-serif;
  font-size: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  display: inline-block;
  padding: 5px;
}

.container {
  text-align: center;
  margin: 10px 0;
}

.title {
  border-top: 1px solid #c5c5c5;
  margin: auto;
  width: 90%;
  font-size: 20px;
}

.titlef {
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: auto;
  /* border: 1px solid purple; */
}

.product-container {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  justify-content: start;
  /* border: 1px solid green; */
}

/* filters */
.filters-container {
  width: 15%;
  box-shadow: 0px 0px 10px -4px rgba(77, 77, 77, 0.384);
  height: fit-content;
  padding: 10px 0;
}
.filter-category {
  text-align: left;
  margin: 0 0 20px 0;
}
.filter-title {
  margin: 0 0 10px 5px;
}
.filter {
  margin: 0;
  margin-left: 10px;
}
.filter input {
  cursor: pointer;
}
.filter label {
  cursor: pointer;
  user-select: none;
  word-break: break-word;
}
.filters-form input[type="submit"] {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}

.filters-form input[type="submit"]:hover {
  background-color: black;
  color: white;
  transition: 0.3s background-color ease-in-out;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.search input[type="text"] {
  border: 1px solid black;
  outline: none;
  padding: 10px;
  width: 70%;
}

.search input[type="submit"] {
  border: 1px solid black;
  background-color: white;
  padding: 10px;
  cursor: pointer;
}

.search input[type="submit"]:hover {
  background-color: black;
  color: white;
  transition: 0.3s background-color ease-in-out;
}

/* end filters */

.description a {
  position: relative;
  bottom: -3px;
  cursor: pointer;
}

.description img {
  width: 20px;
  height: 20px;
}

.card {
  box-shadow: 0px 0px 10px -4px rgba(77, 77, 77, 0.384);
}

.footer-container {
  background-color: #1f201c;
  border-top: 1px solid black;
  width: 100%;
}

.footer-logo {
  margin-top: 1%;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.footer-menu {
  width: 20%;
  margin: auto;
  font-family: "Sen", sans-serif;
  display: inline;
  position: relative;
  text-align: center;
}

.footer-menu a {
  text-decoration: none;
  color: white;
  margin: 10%;
}

.footer-menu p {
  color: white;
  font-weight: bold;
}

.footer-menu ul {
  padding: 0;
  list-style: none;
}

.footer-menu:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.copy {
  background-color: #1f201c;
  color: white;
  font-family: "Sen", sans-serif;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1100px) {
  .filters-container {
    width: 25%;
    margin: 10px;
  }

  .container-menu {
    flex-direction: column;
  }

  .footer-menu {
    width: 100%;
  }

  .footer-menu:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  .copy {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .wrapper {
    flex-direction: column;
    align-items: center;
  }

  .filters-container {
    width: 70%;
    margin: 10px;
  }

  .search input[type="text"] {
    width: 50%;
  }

  .container-menu {
    flex-direction: column;
  }

  .footer-menu {
    width: 100%;
  }

  .footer-menu:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  .copy {
    font-size: 12px;
  }
}
