@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

* {
  font-family: "Sen", sans-serif;
}

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  z-index: 300;
}

.middle {
  padding-top: 5px;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topleft {
  display: flex;
  flex: 1;
  padding-top: 20px;
}

.topright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-top: 20px;
}

.logo {
  border-radius: 100px;
  width: 70px;
  height: 70px;
}

.hamburger{
    display: none;
}

.user {
  margin: 10px;
  width: 20px;
  height: 20px;
}

.nav {
  z-index: 1;
  list-style: none;
  text-align: center;
  padding-inline-start: 0px;
}

.nav li {
  display: inline;
}

.nav a {
  color: black;
  text-decoration: none;
  font-family: "Sen", sans-serif;
  font-size: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  display: inline-block;
  padding: 5px;
}

.two-images {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px 150px;
  height: 700px;
  gap: 30px;
}

.card {
  width: 50%;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo {
  width: 50%;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  text-align: center;
  border-top: 1px solid #c5c5c5;
  margin: 20px 150px;
}

.container P {
  font-weight: bold;
}

.button {
  border: 1px solid black;
  background-color: white;
  color: black;
  outline: none;
  text-decoration: none;
  width: 150px;
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: black;
  transition: 0.3s background-color ease-in-out;
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin: 20px 150px;
  height: 700px;
  gap: 15px;
}

.carousel {
  margin: 10px 30px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 0 20px;
}

.imgcontainer {
  position: relative;
  margin: 30px;
}

.imgcontainer img {
  width: 100%;
  height: 650px;
  border-radius: 20px;
}

.imgcontainer a {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border: 1px solid black;
  border-radius: 20px;
  font-size: 25px;
  font-weight: bold;
  color: black;
  padding: 10px;
  background: none;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  backdrop-filter: blur(1px);
}

.imgcontainer a:hover {
  color: white;
  background-color: black;
}

.imgbox {
  width: 100%;
  height: 100%;
  transition: transform 1s ease;
}

.imgbox:hover {
  transform: scale(1.1);
}

.product {
  width: 20%;
  height: 20%;
  min-width: 150px;
  min-height: 150px;
  margin: 20px;
  text-align: center;
}

.description {
  font-family: "Sen", sans-serif;
  font-size: 12px;
  text-align: left;
  margin: none;
}

.footer-container {
  background-color: #1f201c;
  border-top: 1px solid black;
  width: 100%;
}

.footer-logo {
  margin-top: 1%;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.footer-menu {
  width: 20%;
  margin: auto;
  font-family: "Sen", sans-serif;
  display: inline;
  position: relative;
  text-align: center;
}

.footer-menu a {
  text-decoration: none;
  color: white;
  margin: 10%;
}

.footer-menu p {
  color: white;
  font-weight: bold;
}

.footer-menu ul {
  padding: 0;
  list-style: none;
}

.footer-menu:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.copy {
  background-color: #1f201c;
  color: white;
  font-family: "Sen", sans-serif;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1300px) {
  .two-images {
    margin: 40px;
  }

  .container{
    margin: 40px;
  }

  .cards{
    margin: 40px;
  }

  .card{
    width: 100%;
  }

}

@media screen and (max-width: 800px) {
  .two-images {
    flex-direction: column;
    margin: 0;
    width: 100%;
    height: 100%;
    gap: 10px;
  }

  .card {
    width: 100%;
  }

  .card img {
    height: 250px;
  }

  .cards {
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
  }

  .photo {
    width: 100%;
    height: 50%;
  }

  .photo img {
    height: 250px;
  }

  .container {
    margin: 20px;
    width: 100%;
  }

  .carousel {
    margin: 10px;
    padding: 0;
  }

  .container-menu {
    flex-direction: column;
  }

  .footer-menu {
    width: 100%;
  }

  .footer-menu:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  .copy {
    font-size: 13px;
  }
}
