@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
}

.middle {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topleft {
  display: flex;
  padding-top: 20px;
}

.topright {
  display: flex;
  padding-top: 20px;
}

.logo {
  border-radius: 100px;
  width: 70px;
  height: 70px;
}

.user {
  margin: 10px;
  width: 20px;
  height: 20px;
}

.nav {
  z-index: 1;
  list-style: none;
  text-align: center;
  padding-inline-start: 0px;
}

.nav li {
  display: inline;
}

.nav a {
  color: black;
  text-decoration: none;
  font-family: "Sen", sans-serif;
  font-size: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  display: inline-block;
  padding: 5px;
}

.mediahome {
  height: 80vh;
  width: 100%;
  object-fit: cover;
  overflow: none;
}

.arrow {
  display: block;
  width: 30px;
  height: 30px;
  margin: 20px auto 0 auto;
}

.colum {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
  width: 100%;
}

.imgbox {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.card {
  overflow: hidden;
  border-radius: 30px;
  width: 400px;
  height: 500px;
  margin: 20px;
  position: relative;
  text-align: center;
}

.carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
  width: 100%;
  background-color: #f2f3f4;
}

.product-container{
    margin: auto;
    width: 80%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product {
  width: 15%;
  height: 15%;
  margin: 20px;
  text-align: center;
}


.description{
    font-family: "Sen", sans-serif;
    font-size: 12px;
    text-align: left;
    margin: none;
}

.footer-container{
    border-top: 1px solid black;
    width: 100%;
}

.footer-logo{
    margin-top: 1%;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container-menu{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.footer-menu{
    width: 20%;
    margin: auto;
    font-family: 'Sen', sans-serif;
    display: inline;
    position: relative;
    text-align: center;
}

.footer-menu a{
    text-decoration: none;
    color: black;
    margin: 10%;
}

.footer-menu p{
    font-weight: bold;
}

.footer-menu ul{
    padding: 0;
    list-style: none;
}

.footer-menu:nth-child(2){
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.copy{
    font-family: 'Sen', sans-serif;
    display: flex;
    justify-content: center;
}