@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

* {
    font-family: "Sen", sans-serif;
  }

body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  z-index: 300;
}

.middle {
  padding-top: 5px;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.topleft {
  display: flex;
  flex: 1;
  padding-top: 20px;
}

.topright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  padding-top: 20px;
}

.logo {
  border-radius: 100px;
  width: 70px;
  height: 70px;
}

.user {
  margin: 10px;
  width: 20px;
  height: 20px;
}

.nav {
  z-index: 1;
  list-style: none;
  text-align: center;
  padding-inline-start: 0px;
}

.nav li {
  display: inline;
}

.nav a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
  display: inline-block;
  padding: 5px;
}

.footer-container {
  background-color: #1f201c;
  border-top: 1px solid black;
  width: 100%;
}

.footer-logo {
  margin-top: 1%;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.container-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.footer-menu {
  width: 20%;
  margin: auto;
  display: inline;
  position: relative;
  text-align: center;
}

.footer-menu a {
  text-decoration: none;
  color: white;
  margin: 10%;
}

.footer-menu p {
  color: white;
  font-weight: bold;
}

.footer-menu ul {
  padding: 0;
  list-style: none;
}

.footer-menu:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.copy {
  background-color: #1f201c;
  color: white;
  display: flex;
  justify-content: center;
}

.login {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  min-height: calc(100svh - 80px);
}

.login-container {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  color: #4a4a4a;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 15px;
}

.login-container p {
  font-size: 50px;
  margin: 20px;
}

.login-container a {
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.login-container a:hover {
  font-weight: bold;
}

form {
  width: 350px;
  position: relative;
}

form .form-field::before {
  font-size: 20px;
  position: absolute;
  left: 15px;
  top: 17px;
  color: #888888;
  content: " ";
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

form .form-field:nth-child(1)::before {
  background-image: url(../icons/user-icon.png);
  width: 20px;
  height: 20px;
  top: 15px;
}

form .form-field:nth-child(2)::before {
  background-image: url(../icons/lock-icon.png);
  width: 16px;
  height: 16px;
}

form .form-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

form input {
  width: 100%;
  outline: none;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  display: block;
  padding: 15px 20px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
  color: #4a4a4a;
  text-indent: 40px;
}

form .btn {
  outline: none;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  margin: 20px auto;
  padding: 15px 35px;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  font-size: 17px;
}

form .btn:hover {
  background-color: black;
  color: white;
  transition: 0.3s background-color ease-in-out;
}

@media screen and (max-width: 1000px) {
  .container-menu {
    flex-direction: column;
  }

  .footer-menu {
    width: 100%;
  }

  .footer-menu:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  .copy {
    font-size: 12px;
  }
}

@media screen and (max-width: 800px) {
  .login {
    margin: auto;
  }

  .login-container {
    width: 300px;
  }

  .login-container p {
    font-size: 30px;
  }

  form input {
    margin: auto;
    width: 70%;
  }

  form .form-field::before {
    left: 50px;
  }

  .container-menu {
    flex-direction: column;
  }

  .footer-menu {
    width: 100%;
  }

  .footer-menu:nth-child(2) {
    border-left: none;
    border-right: none;
  }

  .copy {
    font-size: 12px;
  }
}
